<%= render 'layouts/logout' %>

<%= render 'layouts/composite' %>

<div class="container">
    <h2 class="text-center mt-5 mb-5">Liked</h2>
    <div class="row">
        <table class="table col-6 mx-auto">
            <% @favorited_users.each do |user| %>
                <tr>
                    <td><%= link_to user.name, user_path(user), class: "link-text" %></td>
                    <% if current_user.following?(user) %>
                        <td class="text-right"><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary" %></td>
                    <% else %>
                        <td class="text-right"><%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>