<div class="container">
  <%= render 'layouts/errors', obj: @store %>
  <h2 class="mx-auto d-flex justify-content-center my-5">Store's Edit</h2>
  <div class="row">
    <div class="mx-auto d-flex justify-content-center">
      <%= form_with model: @store, url: store_path(@store.id), method: :patch, local: true do |f| %>

        <div class="field">
          <%= f.label :phone_number %><br />
          <%= f.text_field :phone_number, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :opening_hours, class: "mt-3" %>
          <%= f.text_field :opening_hours, class:"mt-3 form-control" %> ~ <%= f.text_field :closing_hours, class:"mt-3 form-control" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "編集" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

