<% if current_user %>
  <div class="row add-contents">
    <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mr-1" %>
  </div>
<% end %>

<div class="container">
  <h2 class="mx-auto d-flex justify-content-center mt-5">Stores</h2>
  <div class="row">
    <% @stores.each do |store| %>
      <div class="card col-12 my-3">
        <div class="card-header">
          <%= store.store_name %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="m-0"><%= store.address %></p>
            <p class="m-0"><%= store.opening_hours %> ~ <%= store.closing_hours %></p>
            <p class="m-0"><%= store.phone_number %></p>
            <footer class="blockquote-footer"><cite link="Source Title"><%= link_to "詳しくはこちら", store_path(store.id), class: "link-text" %></footer>
          </blockquote>
        </div>
      </div>
    <% end %>
  </div>
</div>


