<div class="row add-contents">
<!--<%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mr-1" %>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <h2>Coffee Beans</h2>-->
<!--  <div class="row">-->
<!--    下記Storeのindex（右にimage/左に情報）-->
<!--    <% @stores.each do |store| %>-->
<!--    下記Storeのimage画像表示箇所-->
<!--      <div class="col-12 col-md-6">-->
<!--          <%= image_tag bean.get_bean_image, class: 's-index-img-trimming img-fluid' %>-->
<!--      </div>-->
<!--      下記Storeの情報記載箇所-->
<!--      <div class="col-12 col-md-6">-->
<!--        <p><strong><%= store_name %></strong></p>-->
<!--        <p><%= store.address %></p>-->
<!--        <p><%= store.opening_hours %> ~ <%= store.closing %></p>-->
<!--        <p><%= store.phone_number</p>-->
<!--      </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->