<!--ログアウト＋検索機能＋ 新規投稿ボタン-->

  <%= render 'layouts/logout' %>
  <%= render "layouts/composite" %>


<!--以下map機能の追加に伴う記載-->

<% if @store.latitude %>
  <div class="col-12 mt-5">
    <div id="map"></div>
  </div>
<% end %>

<div class="row add-contents">
  <%= link_to edit_store_path(@store), class:"text-secondary ml-auto mt-5 mr-1" do %>
    <i class="fas fa-cog"></i>
  <% end %>
</div>

<div class="container">
  <h2 class="mt-5 text-center"><%= @store.store_name %></h2>
  <div class="col-12 mt-5 mb-5 text-center">
    <strong>住所</strong>:&ensp;<%= @store.address %><br>
    <strong>TEL</strong>:&ensp;<%= @store.phone_number %><br>
    <strong>営業時間</strong>:&ensp;<%= @store.opening_hours %> ~ <%= @store.closing_hours %>
  </div>
  <div class="row">
    <% @store.beans.each do |bean| %>
      <div class="col-12 col-md-4 m-0 my-2">
        <%= link_to bean_path(bean.id) do %>
          <%= image_tag bean.get_bean_image, class: "s-show-img-trimmimg img-fluid" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>

function initMap() {
  let lat = <%= @store.latitude == nil ? "null" : @store.latitude %>;
  let lng = <%= @store.longitude == nil ? "null" : @store.longitude %>;
  if (lat == null || lng == null) {
    return;
  }
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(lat, lng)
  };

  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(lat, lng),
    map: map,
    draggable: false, //true
    icon: {
      fillColor: "#ff0000",
    },
    label: {
      text: '<% @store.store_name %>',
      color: '#FFFFFF',
      fontSize: '16px'
    }

  });

}

function setLatLng(marker) {
  $('input#post_latitude').val(marker.getPosition().lat());
  $('input#post_longitude').val(marker.getPosition().lng());
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
