<%= render 'layouts/logout' %>

<%= render "layouts/composite" %>

<div class="container mt-5">
  <h2 class="mt-5 mb-4 mx-auto d-flex justify-content-center">Follower</h2>
  <div class="row">
    <div class="col-10 mx-auto d-flex justify-content-center">
      <% if @users.exists? %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image(80, 80) %></td>
                <td class="td-center"><%= user.name %></td>
                <td class="td-center"><%= link_to "Show", user_path(user.id), class: "link-text" %></td>
                  <% if current_user.following?(user) %>
                    <td class="td-center"><%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary" %></td>
                  <% else %>
                    <td class="td-center"><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>

