<%= render 'layouts/logout' %>

<% if current_user %>
  <%= render "layouts/composite" %>
<% end %>

<div class="container mt-5">
  <h2 class="mt-5 mb-4 mx-auto d-flex justify-content-center">Users</h2>
  <div class="row">
    <div class="col-10 mx-auto d-flex justify-content-center">
        <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(80, 80) %></td>
            <td class="td-center"><%= user.name %></td>
            <td class="td-center"><%= link_to "Show", user_path(user.id), class: "link-text" %></td>
            <td>
              <% if current_user.released? %>
                <% if current_user.following?(user) %>
                  <td class="td-center"><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary" %></td>
                <% else %>
                  <td class="td-center"><%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %></td>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
</table>
</div>
  </div>
</div>
