<div class="row add-contents">
  <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mb-5 mr-1" %>
  <span class="search-bar-container btn btn-lg btn-outline-light border border-secondary mt-5 mb-5 ml-3">
    <a href="#" id="search-button"><i class="fa fa-search"></i></a>
    <div class="search-bar d-none">
      <%= render partial: 'searches/search', locals: { users: @users, beans: @beans, stores: @stores } %>
    </div>
  </span>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <!--下記ページ上部プロフィール詳細-->
      <%= image_tag @user.get_profile_image(120, 120)  %>
        <strong><%= @user.name %></strong>&emsp;
        投稿<%= @user.bean_count %>件 &emsp;
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary"  do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-outline-primary" %>
        <% end %>
    </div>
    <div class="col-12 text-center mt-5">
      <%= @user.introduce %>
    </div>
      <div class="col-12 text-center mt-2 mb-5">
        <% if @user.released? %>
          <%= link_to "フォロー" + @user.followings.released.count.to_s, user_followings_path(@user), class: "btn btn-outline-primary mr-3" %>
          <%= link_to "フォロワー" + @user.followers.released.count.to_s, user_followers_path(@user), class: "btn btn-outline-primary" %>
        <% else %>
          <span class="text-muted">フォロー<%= @user.followings.released.count %> フォロワー<%= @user.followers.released.count %></span>
        <% end %>
      </div>

    <!--下記ページ下部投稿内容-->
    <div class="container">
      <div class="row">
        <% @user.beans.each do |bean| %>
          <div class="col-12 col-md-4 m-0 my-2">
            <%= link_to bean_path(bean.id) do %>
              <%= image_tag bean.get_bean_image, class: "s-show-img-trimmimg img-fluid" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>