<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <%= image_tag 'clay-banks-_wkd7XBRfU4-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'janko-ferlic-pR9D-7ztGmA-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'jannis-brandt-qLFJ0uCF9oY-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'luke-porter-9u94Il5QCcc-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'najib-kalil-BKfsCuFQ5R8-unsplash.jpg', class: 'img-fluid mv' %>
    </div>

  </div>
</div>

<% flash.each do |key, value| %>
  <% if key == "alert" %>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% elsif key == "notice" %>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>

<!--ログイン・サインアップ・ゲストログイン-->
<% if !current_user %>
  <div class="mt-5 mb-5 text-center">
    <%= link_to "Log in", new_user_session_path, class:"link-text" %>
    <%= link_to "ゲストログイン（閲覧用）", homes_guest_sign_in_path, method: :post, class: "mx-3 link-text" %>
    <%= link_to "Sign up", new_user_registration_path, class: "link-text" %>
  </div>
<% else %>
  <div class="mt-5 mb-5 text-center">
    <%= link_to "Log out(ログ アウト)", destroy_user_session_path, class: "link-text", method: :delete %><br>
    <small>※使用後 Log out をお願いいたします！ ※</small>
  </div>
<% end %>

<div class="container">
  <h3 class="mv-text text-center mt-5 mb-5"><strong>"NOW" in a cup of COFFEE.</strong></h3>
  <p class="text-center">日々、暮らしの中で感じるささやかな癒し</p>
  <p class="text-center">cup of happiness</p>
  <p class="text-center">
  焙煎やコーヒ豆の鮮度にこだわったいっぱいがそこにはあります。<br>
  お店それぞれのオリジナリティ溢れる香り、コク、風味、味。<br>
  そのひとつひとつが今のコーヒー好きを虜にします。<br>
  街の雰囲気や文化を取り込んださまざまな味わいのコーヒーを探してみませんか。
  </p>
  <p class="text-center">neighborhood coffee shop</p>
  <p class="text-center">trendy coffee shop</p>
  <p class="text-center">old fashioned coffee shop</p>
  <p class="text-center">いろんなカタチのいろんな味わいを探してみましょう。</p>
</div>
<div class="my-5">
  <%= image_tag 'contents-visual-unsplash.jpg', class: 'mx-auto mb-5 d-flex justify-content-center contents-img img-fluid' %>
</div>

<!--最新投稿記事を表示-->
<div class="container">
  <h2 class="mx-auto d-flex justify-content-center new-topic">New Topic</h2>
  <div class="row">
    <% @beans.each do |bean| %>
      <div class="col-12 col-md-3">
        <%= link_to bean_path(bean.id) do %>
          <%= image_tag bean.get_bean_image, class: "mx-auto my-5 d-flex justify-content-center contents-sm-img img-fluid" %>
        <% end %>
      </div>
    <% end %>

<% if !current_user %>
  </div>
    <p class="mx-auto d-flex justify-content-center"><%= link_to "Come on, join us ！", new_user_registration_path, class: "start"  %></p>
  </div>
<% end %>


