<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <%= image_tag 'clay-banks-_wkd7XBRfU4-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'janko-ferlic-pR9D-7ztGmA-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'jannis-brandt-qLFJ0uCF9oY-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'luke-porter-9u94Il5QCcc-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'najib-kalil-BKfsCuFQ5R8-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'tyler-nix-WNI86Q3FjrM-unsplash.jpg', class: 'img-fluid mv' %>
    </div>
  </div>
</div>


<!--メインビジュアル-->
<!--<div class="mx-auto mw-100">-->
<!--  <div class="mv text-center">-->
    <!--<%= image_tag 'ivy-aralia-nizar-BsY8iiW8BTE-unsplash.jpg', class:"img-fluid mv" %>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <h3 class="mv-text my-5"><strong>"NOW" in a cup of COFFEE.</strong></h3>
  <p>日々、暮らしの中で感じるささやかな癒し</p>
  <p>cup of happiness</p>
  <p>
  焙煎やコーヒ豆の鮮度にこだわったいっぱいがそこにはあります。<br>
  お店それぞれのオリジナリティ溢れる香り、コク、風味、味。<br>
  そのひとつひとつが今のコーヒー好きを虜にします。<br>
  街の雰囲気や文化を取り込んださまざまな味わいのコーヒーを探してみませんか。
  </p>
  <p>neighborhood coffee shop</p>
  <p>trendy coffee shop</p>
  <p>old fashioned coffee shop</p>


  <p>いろんなカタチのいろんな味わいを探してみましょう。</p>
</div>

<div class="my-5">
  <%= image_tag 'contents-visual-unsplash.jpg', class: 'mx-auto d-flex justify-content-center contents-img img-fluid' %>
</div>




<div class="container">
  <h2 class="my-5 mx-auto d-flex justify-content-center">New Topic</h2>
  <div class="row">
    <% @beans.each do |bean| %>
      <div class="col-12 col-md-3">
        <%= link_to bean_path(bean.id) do %>
          <%= image_tag bean.get_bean_image, class: "mx-auto d-flex justify-content-center contents-sm-img img-fluid" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


