<div class="row add-contents">
  <%= link_to bean_path(@bean), method: :delete, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mr-1" do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>

<div class="container">

  <%= render 'layouts/errors', obj: @bean %>

  <h2 class="mx-auto d-flex justify-content-center my-5">Edit</h2>
  <div class="row">
    <div class="mx-auto d-flex justify-content-center">
      <%= form_with model: @bean, url: bean_path(@bean.id), method: :patch, local:true do |f| %>
      <div class="form-group">
        <%= f.label :bean_name %>
        <%= f.text_field :bean_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :degree_of_roasting %>
        <%= f.select :degree_of_roasting, Bean.degree_of_roastings_i18n.invert, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :bean_image %>
        <%= f.file_field :bean_image, class:"form-control-file" %>
      </div>

      <div class="form-group">
        <%= f.label :opinion %>
        <%= f.text_area :opinion, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "シェア", class:"btn btn-outline-secondary" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-12 ml-auto">
    <% if current_user || current_user.admin? %>
      <% if @bean.released? %>
        <td class="td-center"><%= link_to '非公開にする', nonrelease_bean_path(@bean.id), method: :patch %></td>
      <% else %>
        <td class="td-center"><%= link_to '公開する', release_bean_path(@bean.id), method: :patch %></td>
      <% end %>
    <% end %>
  </div>
</div>