<div class="row add-contents">
  <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mr-1" %>
</div>
<div class="container">
  <h2>Coffee Beans</h2>
  <div class="row">
    <!--下記indexのカード表記-->
    <% @beans.each do |bean| %>
      <div class="col-12 col-md-6 my-3 d-flex">
        <div class="card shadow-sm flex-grow-1">
          <div class="row no-gutters">
            <!--カード内画像部-->
            <div class="col-md-4">
              <figure>
                <%= image_tag bean.get_bean_image, class: 'b-index-img-trimming img-fluid' %>
              </figure>
            </div>
            <!--豆情報表示箇所-->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title m-0"><%= link_to bean.bean_name, bean_path(bean.id), class: "link-text" %></h5>
                <small class="text-black-50 d-block">
                  <%= bean.store.store_name %>
                </small>
                <small class="text-black-50 d-block">
                  <%= bean.production_area.area %> / <%= bean.degree_of_roasting %><br>
                  <%= link_to "@shota",beans_path, class: "link-text" %><!--※後でprofileに飛べるようにする -->
                  <% if bean.favorited_by?(current_user) %>
                    <%= link_to bean_favorites_path(bean.id), method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;font-size: 1rem;"></i>
                    <% end %>
                  <% else %>
                    <%= link_to bean_favorites_path(bean.id), method: :post do %>
                      <i class="fas fa-heart" aria-hidden="true" style="font-size: 1rem;"></i>
                    <% end %>
                  <% end %>
                </small>
                <hr>
                <%= bean.opinion.slice(0...15) %>  ...
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>