  <div class="row add-contents">
    <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mr-1" %>
  </div>

<div class="container">
  <h2>Coffee Beans</h2>
  <div class="row">
    <% @beans.each do |bean| %>
      <div class="col-12 col-md-6">
        <div class="card shadow-sm">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag bean.get_bean_image, class: 'img-fluid' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title m-0"><%= bean.bean_name %></h5>
                <small class="text-black-50 d-block">
                  <%= bean.store_name %>
                </small>
                <small class="text-black-50 d-block">
                  <%= bean.production_area %> / <%= bean.degree_of_roasting %><br>
                  <%= link_to "@shota",beans_path %>
                </small>
                <hr>
                <%= simple_format(bean.opinion) %>
                <% if bean.price.present? %>
                  <div class="text-right">
                    <small class="text-black-50">
                      &yen; bean.price
                    </small>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>