<div class="container">
    <h2 class="my-5 ml-5">About Bean</h2>
    <hr>
    <div class="row">
        <!--投稿画像-->
        <div class="col-12 col-md-8 mx-auto d-flex justify-content-center">
            <%= image_tag @bean.get_bean_image, class: "b-show-img-trimming img-fluid" %><br>
        </div>
        <!--投稿記事詳細-->
        <div class="col-12 col-md-4 my-3">
            <%= image_tag @bean.user.get_profile_image(60, 60), class: "w-auto" %>&emsp;<strong><%= @bean.user.name %></strong><!--※nameは後でlinkにしてprofileに飛ぶようにする-->
            <hr>
            <span><strong>store</strong></span>
            <p><%= @bean.store.store_name %></p><!--store's indexへリンクできるようにする-->
            <span><strong>product</strong></span>
            <p><%= @bean.bean_name %></p>
            <span><strong>product area</strong></span>
            <p>#<%= @bean.production_area.area %></p>
            <p><%= @bean.opinion %></p>
        </div>
        <!--下記いいね機能-->
        <div class="col-12 col-md-5 ml-auto mr-3 mt-3">
          <% if @bean.favorited_by?(current_user) %>
            <p>
              <%= link_to bean_favorites_path(@bean.id), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red; font-size: 32px;"></i>
              <% end %>
            </p>
          <% else %>
              <%= link_to bean_favorites_path(@bean.id), method: :post do %>
                <i class="fas fa-heart" aria-hidden="true" style="font-size: 32px; margin-left:"></i>
              <% end %>
          <% end %>
        </div>
        <!--下記コメント欄-->
        <div>
          
        </div>
        <!--Store’s indexへのリンクするためのカード-->
        <div class="card col-12 my-5">
          <div class="card-header">
            STORE
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= link_to "店舗について他の投稿を見る", store_path(@store.id), class: "link-text" %></p>
              <footer class="blockquote-footer">Other posts about stores<cite title="About Stores">about stores</cite></footer>
            </blockquote>
          </div>
        </div>
    </div>
</div>