<div class="container">
    <h2 class="my-5 pt-5">About Bean</h2>
    <hr>
    <div class="row">
        <!--投稿画像-->
        <div class="col-12 col-md-8">
            <%= image_tag @bean.get_bean_image, class: "show-img-trimming img-fluid" %>
            <!--投稿者本人の場合に編集・削除できるようにする-->
            <% if @bean.user == current_user %>
                <p><%= link_to "Edit", edit_bean_path, class: "btn btn-outline-secondary mt-4" %>
                <%= link_to "Delete", bean_path(@bean), method: :delete, class: "btn btn-outline-secondary mt-4", "data-confirm" => "本当に削除しますか？" %>
                </p><!--※fontawesomeでネジマークを使用したい ＋ 右寄せ-->
            <% end %>
        </div>
        <!--投稿記事詳細-->
        <div class="col-12 col-md-4">
            <%= image_tag @bean.user.get_profile_image(60, 60), class: "w-auto" %>&emsp;<strong><%= @bean.user.name %></strong><!--※nameは後でlinkにしてprofileに飛ぶようにする-->
            <hr>
            <span><strong>store</strong></span>
            <p><%= @bean.store_name %></p><!--store's indexへリンクできるようにする-->
            <span><strong>product</strong></span>
            <p><%= @bean.bean_name %></p>
            <span><strong>product area</strong></span>
            <p>#<%= @bean.production_area_i18n %></p>
            <p><%= @bean.opinion %></p>

        </div>
        <!--Store’s indexへのリンクするためのカード-->
        <div class="card col-12 my-5">
          <div class="card-header">
            STORE
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>店舗について他の記事を見ることができます。</p>
              <footer class="blockquote-footer">Other posts about stores<cite title="About Stores">about stores</cite></footer>
            </blockquote>
          </div>
        </div>
    </div>
</div>