<div class="container">
  <div class="row">
    <%= image_tag @bean.user.get_profile_image %>
    <%= @bean.user.name %>
  </div>
  <div class="container">
    <%= image_tag @bean.get_bean_image %>
    <%= @bean.opinion %>
  </div>
  <div class="row">
    <p><%= link_to @bean.store_name %>へ行く %></p>
  </div>
</div>