<%= render 'layouts/logout' %>

<div class="row add-contents">
  <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mt-5 mb-5 mr-1" %>
  <span class="search-bar-container btn btn-lg btn-outline-light border border-secondary mt-5 mb-5 ml-3">
    <a href="#" id="search-button"><i class="fa fa-search"></i></a>
    <div class="search-bar d-none">
      <%= render partial: 'searches/search', locals: { users: @users, beans: @beans, stores: @stores } %>
    </div>
  </span>
</div>



<div class="container">
  <h2 class="my-5">About Bean</h2>
  <div class="row">
    <div class="col-12 col-md-5 ml-auto mr-3 mt-3">
      <% if @bean.user == current_user || current_user.admin %>
        <%= link_to edit_bean_path(@bean), class: "btn btn-outline-secondary mt-4 mb-3" do %>
          <i class="fas fa-cog"></i>
        <% end %>
      <% end %>
    </div>
  </div>
    <hr>
    <div class="row">
        <!--投稿画像-->
        <div class="col-12 col-md-8 mx-auto d-flex justify-content-center">
            <%= image_tag @bean.get_bean_image, class: "b-show-img-trimming img-fluid" %>
        </div>
        <!--投稿記事詳細-->
        <div class="col-12 col-md-4 my-3">
            <%= image_tag @bean.user.get_profile_image(60, 60), class: "w-auto" %>&emsp;<strong><%= link_to @bean.user.name, user_path(@bean.user), class: "link-text"  %></strong>
            <hr>
            <span><strong>store</strong></span>
            <p><%= link_to @bean.store.store_name, store_path(@bean.store), class: "link-text" %></p>
            <span><strong>product</strong></span>
            <p><%= @bean.bean_name %></p>
            <span><strong>product area</strong></span>
            <p>#<%= @bean.production_area.area %></p>
            <p><%= @bean.opinion %></p>
        </div>
        <!--下記いいね機能-->
        <div class="col-12 col-md-5 ml-auto mr-3 mt-3">
          <% if @bean.favorited_by?(current_user) %>
              <%= link_to bean_favorites_path(@bean.id), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red; font-size: 32px;"></i>
              <% end %>
          <% else %>
              <%= link_to bean_favorites_path(@bean.id), method: :post do %>
                <i class="fas fa-heart" aria-hidden="true" style="font-size: 32px; margin-left:"></i>
              <% end %>
          <% end %>
        </div>
        <!--下記コメント欄-->
        <div class="col-12">
          <% @bean.comments.each do |comment| %>
            <p>
              <%= comment.user.name %>&emsp;<%= comment.comment %>
              <% if comment.user == current_user %>
                <%= link_to bean_comment_path(comment.bean, comment), method: :delete, class: "link-text" do%>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
             </p>
          <% end %>

          <%= form_with model: [@bean, @comment] do |f| %>

            <hr>
            <div class="form-group my-4">
              <%= f.label:Comment %>
              <%= f.text_field:comment, class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "送信", class:"form-control btn btn-success col-3" %>
            </div>
          <% end %>
        </div>

        <!--Store’s indexへのリンクするためのカード-->
        <div class="card col-12 my-5">
          <div class="card-header">
            STORE
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= link_to "店舗について他の投稿を見る", store_path(@store.id), class: "link-text" %></p>
              <footer class="blockquote-footer">Other posts about stores<cite title="About Stores">about stores</cite></footer>
            </blockquote>
          </div>
        </div>
    </div>
</div>